#common
FRONT_URL=http://localhost:4000#could be comma separated list
PORT=3000
ENV=development

#redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=#optional
REDIS_PASSWORD=#optional
REDIS_TLS=0#0 or 1